<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="snp_prbt_description">
  
  <xacro:include filename="$(find prbt_support)/urdf/prbt_macro.xacro"/>
  <xacro:include filename="$(find snp_prbt_description)/urdf/prbt_gazebo.xacro"/>
  <xacro:include filename="$(find snp_prbt_description)/urdf/snp_tool.urdf.xacro"/>
  <xacro:include filename="$(find snp_prbt_description)/urdf/prbt_table.urdf.xacro"/>

  <xacro:property name="prefix" value="prbt_"/>

  <!-- world-->
  <link name="world_frame"/>
  <joint name="world_to_baselink" type="fixed">
    <parent link="world_frame"/>
    <child link="${prefix}base_link"/>
  </joint>

  <!-- robot -->
  <xacro:prbt prefix="${prefix}"/>
  <xacro:prbt_gazebo prefix="${prefix}"/>

  <!-- table-->
  <xacro:table parent="world_frame">
    <origin  xyz="0 0 0" rpy="0 0 0" />
  </xacro:table> 

  <!-- tool -->
  <xacro:snp_tool parent="${prefix}tool0">
    <origin  xyz="0 0 0" rpy="0 0 ${5 * pi / 4.0}" />
  </xacro:snp_tool> 

</robot>
