<?xml version="1.0" ?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
      <robotNamespace>/prbt</robotNamespace>
    </plugin>
  </gazebo>

  <xacro:macro name="prbt_gazebo" params="prefix">

    <xacro:property name="distro" value="$(optenv ROS_DISTRO)"/>
    <xacro:property name="hwi_prefix" value="hardware_interface/"/>
    <xacro:if value="${distro == 'indigo'}">
      <xacro:property name="hwi_prefix" value=""/>
    </xacro:if>

    <transmission name="${prefix}joint_1_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${prefix}joint_1">
        <hardwareInterface>${hwi_prefix}PositionJointInterface</hardwareInterface>
      </joint>
      <actuator name="${prefix}joint_1_motor">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>
    <transmission name="${prefix}joint_2_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${prefix}joint_2">
        <hardwareInterface>${hwi_prefix}PositionJointInterface</hardwareInterface>
      </joint>
      <actuator name="${prefix}joint_2_motor">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>
    <transmission name="${prefix}joint_3_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${prefix}joint_3">
        <hardwareInterface>${hwi_prefix}PositionJointInterface</hardwareInterface>
      </joint>
      <actuator name="${prefix}joint_3_motor">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>
    <transmission name="${prefix}joint_4_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${prefix}joint_4">
        <hardwareInterface>${hwi_prefix}PositionJointInterface</hardwareInterface>
      </joint>
      <actuator name="${prefix}joint_4_motor">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>
    <transmission name="${prefix}joint_5_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${prefix}joint_5">
        <hardwareInterface>${hwi_prefix}PositionJointInterface</hardwareInterface>
      </joint>
      <actuator name="${prefix}joint_5_motor">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>
    <transmission name="${prefix}joint_6_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${prefix}joint_6">
        <hardwareInterface>${hwi_prefix}PositionJointInterface</hardwareInterface>
      </joint>
      <actuator name="${prefix}joint_6_motor">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>


  </xacro:macro>
</robot>
