<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="snp_psir_description">
  
  <xacro:include filename="$(find psir_description)/urdf/psir.urdf.xacro"/>
  <xacro:include filename="$(find snp_psir_description)/urdf/snp_tool.urdf.xacro"/>
  <xacro:include filename="$(find snp_psir_description)/urdf/psir_table.urdf.xacro"/>

  <!-- world-->
  <link name="world_frame"/>

  <!-- robot -->
  <link name="base_link"/> <!-- add base_link to robot -->
  <joint name="world_to_base" type="fixed">
    <parent link="world_frame"/>
    <child link="base_link"/>
  </joint>

  <xacro:psir name="psir" parent="base_link">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <tcp>
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </tcp>
  </xacro:psir>

  <link name="tool0"/> <!-- add tool0 to robot -->
  <joint name="tool0_joint" type="fixed">
    <parent link="psir_flange" />
    <child link="tool0" />
  </joint>

  <!-- table-->
  <xacro:table parent="world_frame">
    <origin  xyz="0 0 0" rpy="0 0 0" />
  </xacro:table> 

  <!-- tool -->
  <xacro:snp_tool parent="tool0">
    <origin  xyz="0 0 0" rpy="0 0 ${5 * pi / 4.0}" />
  </xacro:snp_tool> 

</robot>
