<?xml version="1.0"?>
<launch>
  <arg name="sim_robot" default="false"/>
  <arg name="pipeline" default="command_planner" />

  <!-- robot -->
  <group if="$(arg sim_robot)">
    <include file="$(find snp_psir_bringup)/launch/psir_gazebo.launch"/>
  </group>

  <group unless="$(arg sim_robot)">
    <include file="$(find snp_psir_bringup)/launch/psir_real.launch">
      <arg name="robot_ip" value="169.254.60.1"/>
    </include>
  </group>
  
  <rosparam command="load" file="$(find psir_moveit_config)/config/joint_names.yaml"/>

  <include file="$(find psir_demo_moveit_config)/launch/move_group.launch">
    <arg name="publish_monitored_planning_scene" value="true" />
    <arg name="fake_execution" value="false"/>
    <arg name="pipeline" value="$(arg pipeline)" />
  </include>

  <!-- tool -->
  <node name="snp_psir_support" pkg="snp_psir_support" type="spindle_sim" if="$(arg sim_robot)"/>

  <!-- camera -->
  <include file="$(find snp_psir_support)/launch/setup_camera.launch" unless="$(arg sim_robot)">
    <arg name="roi_lower" value="{'x': -0.16, 'y': -0.4, 'z': 0.0}"/>
    <arg name="roi_upper" value="{'x':  0.16, 'y':  0.4, 'z': 0.6}"/>
  </include>

</launch>
